
<div id='asideSection'>
    <div>
  <div id='imageHead'>
    <div id='imageBox'>
        <img src="/css/profPhoto.png" alt="" height='100%' width='100%' style="border-radius:30%">
    </div>
    <div id='name'></div>
   
  </div>
  <span id='sname1'>Cpp</span>
  <span id='sname2'>Node Js</span>
  <span id='sname3'>JS</span>
  <span id='sname4'>Sass</span>
  <span id='sname5'>Html</span>
  <div class='skill'>
    <span class="animated-progress progress-green" style="width: 230px;height: 8px;font-size:8px;border-radius: 0px;">
        <span data-progress="90"></span>
    </span>
    <span class="animated-progress progress-green" style="width: 230px;height: 8px;font-size:8px;border-radius: 0px;">
        <span data-progress="90"></span>
    </span>
    <span class="animated-progress progress-green" style="width: 230px;height: 8px;font-size:8px;border-radius: 0px;">
        <span data-progress="80"></span>
    </span>
    <span class="animated-progress progress-green" style="width: 230px;height: 8px;font-size: 8px;border-radius: 0px;">
        <span data-progress="85"></span>
    </span>
    <span class="animated-progress progress-green" style="width: 230px;height: 8px;font-size: 8px;border-radius: 0px;">
        <span data-progress="90"></span>
    </span>
</div>
  <div class='skill2'>
    <span id='text'>
        <i class="fas fa-check" style="color: white;font-size: 10px;"></i> Bootstrap<br>
        <i class="fas fa-check" style="color: white;font-size: 10px;"></i> Ajax<br>
        <i class="fas fa-check" style="color: white;font-size: 10px;"></i> Gulp<br>
        <i class="fas fa-check" style="color: white;font-size: 10px;"></i> Git<br></span>
  </div>
  <div class="footer">footer</div>
  </div>
  
  </div>




<span id='identity'>
    <span>Madhav Anand<br></span>
    <span>Full Stack Web Developer</span>
</span>
