<link rel="stylesheet" href="/css/five.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap" rel="stylesheet">
<video autoplay loop muted>
    <source src='/videos/sea.mp4' type="video/mp4">
</video>

<div id="edu">
<div id='header'>Education</div>
<div id="devider">
    <i class="fas fa-circle" id='dot1'></i>
    <i class="fas fa-circle" id='dot2'></i>
    <i class="fas fa-circle" id='dot3'></i>
</div>
<div id='con'>
<div class='ed'>
    <div id='head' class="font-effect-shadow-multiple">
        <i class="fas fa-school" id="icon"></i> Dps Gandhinagar<br><sub>2016</sub> 
    </div>
    <div id='edcon'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos quibusdam praesentium laborum optio inventore culpa, consequuntur temporibus esse ea ratione minus fugit quos doloribus amet eveniet quo necessitatibus adipisci!
    </div>
</div>
<div class='ed' id="left">
    <div id='head' class="font-effect-shadow-multiple">
        <i class="fas fa-school" id="icon"></i> Aps Ahmedabad<br><sub>2018</sub> 
    </div>
    <div id='edcon'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos quibusdam praesentium laborum optio inventore culpa, consequuntur temporibus esse ea ratione minus fugit quos doloribus amet eveniet quo necessitatibus adipisci!
    </div>
</div>
<div class='ed' id='three'>
    <div id='head' class="font-effect-shadow-multiple">
        <i class="fas fa-school" id="icon"></i> Vit Vellore<br><sub>2019-2023</sub> 
    </div>
    <div id='edcon'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos quibusdam praesentium laborum optio inventore culpa, consequuntur temporibus esse ea ratione minus fugit quos doloribus amet eveniet quo necessitatibus adipisci!
    </div>
</div>
</div>
</div>


