
    <%-include('_aside.ejs')-%>
<div id='mainSection'>
    <!-- <div id='carousel'>
      <div class="card bg-dark text-white">
        <img src="/css/mun.jpeg" height="300px"class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p> -->
        <!-- </div>
      </div></div>

          <div><div>
            <h3 id='mema'>I am a Web-Developer and <span></span></h1>
          </div></div>
          <div>
              <div id='aboutMeHead'>
                   <center>About Me</center> 
              </div>
              <div id='aboutMeTail'>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque magni saepe molestiae, dolorum accusantium nulla eligendi porro amet cum aperiam, praesentium, non laborum nesciunt? Perferendis maiores quis qui distinctio pariatur.
              </div>
          </div>
          <div id='homeCard'>
              <div id='cardOne'>
                  <div id='cardHeader'>
                    Card Header  one
                  </div>
                  <div id='cardFooter'>
                      Card Footer
                  </div>
              </div>
              <div id='cardTwo' >
                <div id='cardHeader'>
                    Card Header two
                  </div>
                  <div id='cardFooter'>
                      Card Footer two
                  </div>
              </div>
              <div id='cardThree' >
                <div id='cardHeader'>
                    Card Header three
                  </div>
                  <div id='cardFooter'>
                      Card Footer three
                  </div>
              </div> -->
              <!-- <form action="">
                  <button id='nextDiv'>Next</button>
                  <button id='prevDiv'>Prev</button>
              </form> -->
          <!-- </div> -->
          <div id="headerBox">
            <div class="word" ></div>
            <div id='quote'>
              <h1 style="text-align: left;">In small ways<br> you can<br> Shake the world</h1>
            </div>
          </div> 
          <div id='meImage'>
            <img src="/css/c2.png" alt="">
          </div>

    
</div>