

<%-include('_aside.ejs')-%>
<div >
    
          <div id="headerBox">
            <div class="word" ></div>
            <div id='quote'>
              <h1 style="text-align: left;">In small ways<br> you can<br> Shake the world</h1>
              
            </div>
            <p id='text2' style="font-size: 20px;">CODE during the Day <br>COD during the Night<br></p>
          </div> 
          <div id='meImage'>
            <img src="/css/c2.png" alt="">
          </div>

    
</div>
