<link rel="stylesheet" href="<%=asset_path('css/four.css')%>">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=env%>&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
<video autoplay loop muted>
    <source src='/videos/Sea.mp4' type="video/mp4">
</video>


    <div class="card" style="width: 18rem;" id='findMe'>
        <div id='map'></div>
        <div class="card-body">
          <h5 class="card-title">Address and Contacts</h5>
          <p class="card-text">7426 SECTOR B Pocket 10,<br>Near Bhatnagar International School<br>Vasant Kung 110070</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Phone: 9712547211</li>
          <li class="list-group-item">madhavanandcp070@gmail.com</li>
          <li class="list-group-item">
            <a href="http://linkedin.com/in/madhav-cp-anand"><span><i class="fab fa-linkedin-in"></i></span></a>
            <a href="https://www.instagram.com/officialmadhavanand/"><span><i class="fab fa-instagram"></i></span></a>
            <a href="https://github.com/maverick0701"><span><i class="fab fa-github"></i> </span></a>
          </li>
        </ul>
        <div class="card-body">
          <a href="https://www.google.com/maps/place/New+Delhi,+Delhi+110070/@28.5276918,77.1117804,13z/data=!3m1!4b1!4m5!3m4!1s0x390d1e873740663b:0x9e61511b2160d9b4!8m2!3d28.5124389!4d77.1370115" class="card-link">New Delhi</a>
          <a href="https://www.google.com/maps/d/u/0/viewer?msa=0&mid=1mur3OBbdG2VL-UPGOTV-j2vO6JE&ll=12.973079999999985%2C79.159112&z=17" class="card-link">VIT Vellore</a>
        </div>
      </div>

      <script>
          let map;

                function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat:28.5293, lng:77.1484},
                zoom:11,
            });
            var marker=new google.maps.Marker({
              position: {lat:28.5293, lng:77.1484},
              map:map
            })
            }
      </script>
