<link rel="stylesheet" href="<%=asset_path('css/secondcss.css')%>">

<!-- <header id='aboutImage'>
        <h1 id='head' style="text-align: left;">I am a <br><span></span></h1>
  
</header> -->
<%-include('_aside.ejs')%>
<video autoplay loop muted>
    <source src='/videos/vid.mp4' type="video/mp4">
</video>
<div id='myStory'>
    <header id='storyHead'>My Story</header>
    <div id="story">
        Hey I am Madhav and I am an aspiring full-stack web developer. I am currently pursuing BTech in Computer Science from Vit Vellore. Since I started developing web apps, I have fallen in love with the process. The sheer excitement of developing something which was not there earlier and which will help other in fulfilling their dreams is what drives me to contribute in this field. Since I have started programming last year, it has helped me to better understand, analyze and solve problems whether its related to my field or my life. What I lack in experience , I try make up with my passion to learn and make a difference.  Right now, I am looking for any opportunity related to the field of  web development so I can make a difference. 
       
    </div>
</div>

<!-- <img src="/css/img2.png" alt="" width="30%" height="35%" id='aboutImage'> -->