<link rel="stylesheet" href="/css/secondcss.css">

<header>
    <div>
        <h1 id='head'>I am <span></span></h1>
    </div>
</header>
<div id='myStory'>
    <header id='storyHead'>My Story</header>
    <div id="story">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Labore repudiandae doloremque molestias est, consequuntur illo reprehenderit enim quod deleniti in quisquam maxime ea<br> velit, officiis officia vel rerum nemo omnis.
    </div>
</div>
<img src="/css/img2.png" alt="" width="30%" height="35%" id='aboutImage'>