<link rel="stylesheet" href="/css/secondcss.css">

<header id='aboutImage'>
        <h1 id='head' style="text-align: left;">I am a <br><span></span></h1>
  
</header>
<%-include('_aside.ejs')%>
<video autoplay loop muted>
    <source src='/videos/vid.mp4' type="video/mp4">
</video>
<div id='myStory'>
    <header id='storyHead'>My Story</header>
    <div id="story">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repudiandae doloremque molestias est, consequuntur illo reprehenderit enim quod deleniti in quisquam maxime ea velit, officiis officia vel rerum nemo omnis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere quo laudantium atque cupiditate debitis aliquid expedita porro perferendis veritatis nostrum dolorum, odio rerum nulla accusantium natus. Iure aliquam laudantium nostrum!
       
    </div>
</div>

<!-- <img src="/css/img2.png" alt="" width="30%" height="35%" id='aboutImage'> -->