<link rel="stylesheet" href="/css/third.css">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Tangerine&effect=shadow-multiple" >
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Typewolf&effect=shadow-multiple" type="text/css">
<!-- <%-include('_aside.ejs')%> -->
<div class="bg-image"></div>

<div id='contact'>
    <div id='git'>
        <h1><center>Get In Touch</center></h1>
    </div>
    <div id='con'>
        <form action="/touch" method="POST">
            <input type="text" name="name" placeholder="Name" id="name" required>
            <input type="text" name="phn" placeholder="phone number">
            <input type="email" name='email' placeholder="abc@xyz" required>
            <textarea name="comment" id="com" cols="20" rows="6" placeholder="Drop a Message"></textarea>
            <button id='but'>Get In Touch</button>
        </form>
    </div>
</div>