<link rel="stylesheet" href="/css/home.css">


<div id="paper-back" >
	<nav>
		<div class="close"></div>
		<a href="/">Home</a>
		<a href="/mystory" id='story'>My Story</a>
		<a href="/get">Get In Touch</a>
		<a href="/contact">Contact</a>
		<a href="/education">Education</a>
	</nav>
</div>

<div id="paper-window"> 
	<div id="paper-front">
		<div class="hamburger"><span></span></div>
		<div id="container">
			<section id='first'>
				<%-include('_fifthpage.ejs')%>
			</section>
			<section></section>
			<section></section>
			<section></section>
		</div>
	</div>
</div>




<script src="/js/index.js"></script>