#edu
{
    position: fixed;
    left: 28%;
    top: 10%;
    z-index: 3;
    width: 45%;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    color: black;
    #header
    {
        font-family: 'Tangerine', serif;
        font-size: 48px;
    }
    #devider
    {
        height: 80%;
        width: 4px;
        border-left:3px dashed black;
        position: absolute;
        left:50%;
        #dot1
        {
            position: absolute;
            left:-10px;
            top:18.5%;
            color: blue;
        }
        #dot2
        {
            position: absolute;
            left:-10px;
            top:50.5%;
            color: blue;
        }
        #dot3
        {
            position: absolute;
            left:-10px;
            top:85.5%;
            color: blue;
        }
       
    }
    #con
    {
        height: 80%;
        width: 100%;
        // border: 2px solid black;
        #three
        {
            position: absolute;
            top:69%;
        }
        #left
        {
            position: absolute;
            left: 52%;
        }
        .ed
        {
            display: flex;
            flex-direction: column;
            height: 150px;
            // border: 2px solid black;
            width: 48%;
            #head
            {
                text-align: right;
                font-size: 26px;
                #icon
                {
                    position: absolute;
                    left:5%;
                    color: blue;
                }
                sub
                {
                    font-size: small;
                    
                }
            }
            #edcon
            {
                width: 90%;
                height: 50%;
                text-align: left;
                overflow: hidden;
                margin-top: 15px;
                font-family: 'Big Shoulders Stencil Text', cursive;
                margin-left: 2%;
            }
        }
    }
}

@media only screen and (min-width:600px)
{
    #edu
    {
        width:95%;
        position: absolute;
        left:3%;      
    }
}

@media only screen and (max-width:600px)
{
    #container section:first-of-type {
        padding-top: 0vh;
    }
    #edu
    {

        height: 50%;
        width:95%;
        position: absolute;
        left:3%; 
        top:2%;
        #con{.ed{
            height: 200px;
        } }
        #icon
        {
            display: none;
        }
        
    }
}
@media only screen and (max-width:290px)
{
    #container section:first-of-type {
        padding-top: 0vh;
    }
    #edu #con .ed #head {
        text-align: right;
        font-size: 20px;
    }
    
}
@media only screen and (min-width:756px)
{
    #edu
    {
        width:719px; 
        left:3%;    
    }
}

@media only screen and (min-width:800px)
{
    #edu
    {
        width:719px; 
        left:7%;    
    }
}

@media only screen and (min-width:870px)
{
    #edu
    {
        width:719px; 
        left:10%;    
    }
}
@media only screen and (min-width:937px)
{
    #edu
    {
        width:719px; 
        left:13%;    
    }
}
@media only screen and (min-width:1100px)
{
    #edu
    {
        width:719px; 
        left:20%;    
    }
}
@media only screen and (min-width:1282px)
{
    #edu
    {
        width:719px; 
        left:28%;    
    }
}
@media only screen and (min-width:2000px)
{
    #edu
    {
        width:1000px; 
        left:28%;
        
    }
}

video
{
    height: 100vh;
}