body
{
    color: white;
    scroll-behavior: none;
	// overflow: hidden;
	
}





$primary-color: #243040;

body {
	font-family: 'Architects Daughter', sans-serif;
}

#paper-back {
	width: 100%;
	height: 100vh;
	background-color: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 33px;
	nav {
		padding: 120px 34px;
		a {
			display: block;
			margin-bottom: 25px;
			text-decoration: none;
			color: rgba(white, 0.7);
		}
	}
}

//prevents the scrolling when the menu is open
#paper-window {
	height: 100%;
	width: 100vw;
	position: relative; 
	overflow-x: hidden;
	overflow-y:hidden;
	z-index: 2;
	
	&.tilt {
		overflow: hidden;
		pointer-events: none;
		#paper-front { transform: rotate(10deg) translateZ(0); }
	}
}

//this is what actually rotates
#paper-front {
	pointer-events: auto;
	position: relative;
	z-index: 3;
	height: 100vh;
    // background-image: linear-gradient(#1e1f28,#191a24);
    background-color: black;
	box-shadow: 0 0 20px rgba(black, 0.7);
	transform-origin: center 70%;
	transition: all 0.3s ease;
}

//actual content
#container {
    perspective: 400px;
	section {
		height: 300px;
		text-align: center;
		&:first-of-type {
			// padding-top: 10vh;	
			h1 { font-size: 45px; }
			p { font-size: 25px; }
			@media (max-width: 600px) {
				padding-top: 15vh;	
				h1 { font-size: 30px; }
				p { font-size: 18px; }
			}
		}
		// &:nth-of-type(2n) {
		// 	// background-color: lighten(white, 75%);
		// }
	}
}

.hamburger {
	position: fixed;
	z-index: 4;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;
	user-select: none;
	span {
		position: relative;
		
		&, &:before, &:after {
			display: block;
			width: 45px;
			height: 6px;
			background-color:#ffc007;
			border-radius: 2px;
		}
		
		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:before { bottom: -14px; }
		&:after {	bottom: -28px; }
		
	}
}

.close {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;
	
	&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 45px;
			height: 6px;
			top: 50%;
            background-image: linear-gradient(#bdc3c7,#2c3e50);
        
			border-radius: 2px;
		}
		&:before { transform: translateY(-50%) rotate(45deg); }
		&:after {	transform: translateY(-50%) rotate(-45deg); }
}

.animated-progress {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

#meImage
{
  position:absolute;
  left:60%;
  top:10%;

}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
#headerBox
{
  position: absolute;
  left:30%;
  top: 10%;
  width: 500px;
}

#quote
{
  position: absolute;
  top:220px;
}

#text2
{
	position: absolute;
	left: 110%;
	top:500px;
	color:grey;
	width: 200px;
	font-size: 10px;
}
#text2:hover
{
	color: white;
}


@media only screen and (max-width:600px)
{
	#headerBox {
		top: 2%;
		left: 38%;
		width: 60%;
	}
	#container section:first-of-type {
		padding-top: 0vh;
	}
	#quote {
		position: absolute;
		top: 549px;
		left: -93px;
	}
	.word
	{
		position: absolute;
		font-size:1.5rem;
		left: -70px;
		overflow-wrap: break-word;
	}
	#meImage {
		position: absolute;
		left: 5%;
		top: 12%;
	}
	#identity {
		position: absolute;
		top: 7%;
		left: 29%;
	}
	#text2{
		display: none;
	}
}

@media only screen and (max-width:425px)
{
	.hamburger
	{
		top: 10px;
		left: 7px;
	}
	#meImage {
		left: -7%;
	}

}

@media only screen and (max-width:337px)
{
	.hamburger
	{
		top: 10px;
		left: 7px;
	}
	#meImage {
		left: -20%;
		top: 14%;
	}
	#quote {
		display: none;
	}
	#identity {
		position: absolute;
		top: 49%;
		left: 24%;
	}
	#headerBox
	{
		top:5%;
	}

}
@media only screen and (max-width:300px)
{
	#meImage
	{
		left: -32%;
	}
}


@media only screen and (min-width:600px)
{
	#quote {
		position: absolute;
		top: 540px;
		left: 158px;
	}
	#meImage {
		position: absolute;
		left: 37%;
		top: 10%;
	}
	#headerBox {
		position: absolute;
		left: 11%;
		top: 1%;
		width: 500px;
	}
	#text2
	{
		display: none;
	}
	.word
	{
		font-size: 1.5rem;
	}
}

@media only screen and (min-width:1003px)
{
	#meImage {
		position: absolute;
		left: 60%;
		top: 10%;
	}
	#quote {
		position: absolute;
		top: 290px;
		left: 222px;
	}
	#text2
	{
		display: block;
		position: absolute;
	left:80%;
	top:500px;
	color:grey;
	width: 200px;
	font-size: 10px;
	top: 556px;
	}
	.word
	{
		font-size: 2rem;
	}
	#headerBox {
		position: absolute;
		left: 11%;
		top: 1%;
		width: 801px;
	}
}
@media only screen and (min-width:800px)
{
	#quote
	{
		left:228px;
	}
}
@media only screen and (min-width:1220px)
{
	#quote {
		position: absolute;
		top: 290px;
		left: 312px;
	}
	#text2
	{
		display: block;
		position: absolute;
	left:105%;
	font-size: 10px;
	top: 556px;
	}
	#headerBox {
		position: absolute;
		left: 22%;
		top: 14%;
		width: 700px;
	}
	#quote {
		position: absolute;
		top: 160px;
		left: 196px;
	}
}