body
{
    color: white;
    scroll-behavior: none;
	// overflow: hidden;
	
}





  
$size: 60px; // 圆环宽高
$borderWidth: 5px; // 轨道宽度
$fontColor: #949494; // 文字颜色

@-webkit-keyframes toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: -1;
  }
}

@keyframes toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity:-1;
  }
}

@mixin positioning($pos: absolute) {
  position: $pos;
  top: 0;
  left: 0;
  height: $size;
  width: $size;
}

.progress-ring {
  position: relative;
  top: 0;
  left: 0;
  height: $size;
  width: $size;
  div {
    position: absolute;
    top: 0;
    left: 0;
    height: $size;
    width: $size;
    /* 圆环宽高，可自定义 */
    border: $borderWidth solid transparent;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .progress-left, .progress-right, .progress-cover {
    clip: rect(0 ($size / 2) $size 0); /* [0 | <width/2> | <width> | 0] */
  }
  .progress-right {
    opacity: 7;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .progress-text {
    border: none;
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: $size/3;
    color: $fontColor;
    
    line-height: $size;
  }
  .progress-percent {
    font-size: .30em;
  }
}

#position
{
    position: absolute;
    left:3%;
    top:40%;
}

#position2
{
    position: absolute;
    left:11%;
    top:40%;
}

#position3
{
    position: absolute;
    left:19%;
    top:40%;
}


$primary-color: #243040;

body {
	font-family: 'Architects Daughter', sans-serif;
}

#paper-back {
	width: 100%;
	height: 100vh;
	background-color: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 33px;
	nav {
		padding: 120px 34px;
		a {
			display: block;
			margin-bottom: 25px;
			text-decoration: none;
			color: rgba(white, 0.7);
		}
	}
}

//prevents the scrolling when the menu is open
#paper-window {
	height: 100vh;
	width: 100vw;
	position: relative; 
	overflow-x: hidden;
	overflow-y:hidden;
	z-index: 2;
	
	&.tilt {
		overflow: hidden;
		pointer-events: none;
		#paper-front { transform: rotate(10deg) translateZ(0); }
	}
}

//this is what actually rotates
#paper-front {
	pointer-events: auto;
	position: relative;
	z-index: 3;
    // background-image: linear-gradient(#1e1f28,#191a24);
    background-color: black;
	box-shadow: 0 0 20px rgba(black, 0.7);
	transform-origin: center 70%;
	transition: all 0.3s ease;
}

//actual content
#container {
    perspective: 400px;
	section {
		height: 300px;
		text-align: center;
		&:first-of-type {
			// padding-top: 10vh;	
			h1 { font-size: 45px; }
			p { font-size: 25px; }
			@media (max-width: 600px) {
				padding-top: 15vh;	
				h1 { font-size: 30px; }
				p { font-size: 18px; }
			}
		}
		// &:nth-of-type(2n) {
		// 	// background-color: lighten(white, 75%);
		// }
	}
}

.hamburger {
	position: fixed;
	z-index: 4;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;
	user-select: none;
	span {
		position: relative;
		
		&, &:before, &:after {
			display: block;
			width: 45px;
			height: 6px;
			background-color:#ffc007;
			border-radius: 2px;
		}
		
		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:before { bottom: -14px; }
		&:after {	bottom: -28px; }
		
	}
}

.close {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 45px;
	height: 34px;
	cursor: pointer;
	
	&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 45px;
			height: 6px;
			top: 50%;
            background-image: linear-gradient(#bdc3c7,#2c3e50);
        
			border-radius: 2px;
		}
		&:before { transform: translateY(-50%) rotate(45deg); }
		&:after {	transform: translateY(-50%) rotate(-45deg); }
}

.animated-progress {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

#meImage
{
  position:absolute;
  left:60%;
  top:10%;

}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
#headerBox
{
  position: absolute;
  left:30%;
  top: 10%;
  width: 500px;
}

#quote
{
  position: absolute;
  top:220px;
}

#text2
{
	position: absolute;
	left: 110%;
	top:500px;
	color:grey;
	width: 200px;
	font-size: 10px;
}
#text2:hover
{
	color: white;
}