<div>

   <h1> <p>Hi i am <%=user.name%>!</p></h1>
    <br>
    <br>
    <h1>My Email and phone no's are <%=user.email%> and <%=user.phone%></h1>
    <p><%=user.message%></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>

