#findMe {
  background-color: white;
  border-radius: 30px;
  position: fixed;
  left: 40%;
  top: 10%;
  z-index: 3;
  color: black; }
  #findMe .list-group-item a {
    margin-left: 20px; }

#map {
  height: 100px; }
