#aboutImage {
  position: absolute;
  left: 30%;
  top: 32%; }

#head span::before {
  content: '';
  color: #aa3939;
  transition: ease-in-out;
  animation: profile 5s infinite; }

@keyframes profile {
  0% {
    content: 'Team player'; }
  25% {
    content: 'Team player'; }
  50% {
    content: 'Web Developer'; }
  100% {
    content: 'Tech enthusiast'; } }

#myStory {
  width: 40%;
  position: absolute;
  left: 40%;
  top: 10%;
  text-align: left; }
  #myStory #storyHead {
    text-align: center;
    font-size: 30px; }
